html,
* {
  background-color: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-95 {
  height: 95vh;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  /* border: none; */
  cursor: pointer;

  border: 2px solid #007bff;
  border-radius: 4px;
}

.button:hover:active {
  background-color: #0056b3;
}
